/*======================================================================*/
/*========================== Global Selectors ==========================*/
/*======================================================================*/

:root {
  --accentColor: #445876;
  --accentColorLight: #92cbcd;
  --darkBackgroundColor: #31343c;
  --lightBackgroundColor: #ededf6;
  font-size: 12px;
  letter-spacing: 1px;
}

/*======================================================================*/
/*=============================== Header ===============================*/
/*======================================================================*/

html {
  scroll-behavior: smooth;
}
body {
  width: 100vw;
  background-color: var(--lightBackgroundColor);
  font-family: "Roboto", sans-serif;
}

/*===== Header =====*/
header {
  background-color: var(--darkBackgroundColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  padding: 5px;
  padding-left: 75px;
  margin: 20px 0px;
  font-size: 6rem;
  background-color: var(--accentColorLight);
  color: var(--darkBackgroundColor);
}

/* ===== Navigation ===== */
nav {
  padding-right: 50px;
  margin-right: 50px;
}
nav ul li {
  position: relative;
  display: inline-block;
  margin: 5px;
}

nav a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--accentColorLight);
  padding: 10px;
  font-size: 2.5rem;
  border-bottom: 5px solid var(--accentColorLight);
}

/*== Button animations ==*/
nav li::before {
  position: absolute;
  content: "";
  background-color: var(--accentColorLight);
  bottom: 0;
  left: 0;
  right: 0;
  height: 0%;
  width: 100%;
  transition: all 0.5s;
}
nav li:hover::before {
  height: 100%;
}
nav li:hover a {
  color: var(--darkBackgroundColor);
}

/* ===== Banner ===== */
.banner {
  position: relative;
  margin: 0;
  margin-bottom: 50px;
  height: 300px;
  background-image: url("../images/Banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0px 10px 10px var(--darkBackgroundColor);
}
.banner h3 {
  position: absolute;
  bottom: 0;
  right: 100px;
  padding: 10px;
  background-color: var(--accentColorLight);
  transition: all 0.5s;
  font-size: 3rem;
  text-align: center;
  text-wrap: nowrap;
  color: var(--darkBackgroundColor);
}

/*======================================================================*/
/*=============================== Sections =============================*/
/*======================================================================*/

/* ===== Main Section Layout ===== */
main p {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 20px;
}
.section-layout {
  display: flex;
  margin: 50px;
}
.section-layout h2 {
  min-width: 250px;
  max-width: 250px;
  margin: 0px;
  border-right: 5px solid var(--accentColor);
  color: var(--accentColor);
  text-align: end;
  padding-right: 10px;
  font-size: 5rem;
}
.section-layout p {
  color: var(--accentColor);
  line-height: 150%;
}
.section-layout section {
  padding: 0px 50px;
  width: 100%;
}

/*===== Project Section =====*/
.section-projects {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-projects a {
  height: 200px;
  position: relative;
  flex-grow: 1;
  border: 10px solid var(--accentColorLight);
  min-width: 40%;
}
/* Tag used to override .section-projects a - Creates larger Image on screen */
#big-layout {
  min-height: 600px;
  min-width: 90%;
}
.section-projects figure {
  margin: 0px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--accentColor);
  background-blend-mode: soft-light;
  transition: all 0.5s;
}

.section-projects figure:hover {
  background-color: transparent;
}

/*===== Projects =====*/
#project-0 {
  background-image: url("../images/Main-Project.png");
}
#project-1 {
  background-image: url("../images/Sub-Project-1.png");
}
#project-2 {
  background-image: url("../images/Sub-Project-2.png");
}
#project-3 {
  background-image: url("../images/Sub-Project-3.png");
}
#project-4 {
  background-image: url("../images/Sub-Project-4.png");
}

/*== Project Captions==*/
.project-caption {
  position: absolute;
  bottom: 10px;
  left: -1px;
  padding: 20px 10px;
  padding-left: 10px;
  letter-spacing: 0.15rem;
  background-color: var(--accentColorLight);
  transition: all 0.5s;
  color: var(--darkBackgroundColor);
}
.project-caption h3 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}
.project-caption h4 {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  font-size: 1.5rem;
  color: #355157;
}

/*======================================================================*/
/*=============================== Footer ===============================*/
/*======================================================================*/
footer ul {
  padding: 0px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
footer a {
  text-decoration: none;
  color: var(--darkBackgroundColor);
  padding: 10px;
  padding-bottom: 0px;
  margin: 0px;
  font-size: 2rem;
  z-index: 2;
  border-bottom: 5px solid var(--accentColor);
}

footer li {
  position: relative;
  display: inline-block;
}
footer li::before {
  position: absolute;
  content: "";
  background-color: var(--accentColor);
  bottom: 0;
  left: 0;
  right: 0;
  height: 0%;
  width: 100%;
  transition: all 0.5s;
  z-index: -1;
}
footer li:hover::before {
  height: 100%;
}

/*======================================================================*/
/*============================= Media Queries ==========================*/
/*======================================================================*/

/* ^^ Default ^^ */
/* Large Screens */
@media only screen and (max-width: 1400px) {
  :root {
    font-size: 10px;
  }
  .section-projects a {
    min-width: 90%;
  }
}

/* Medium sized Screens */
/* Adjust Navigations and Project layout to achive a consistant web flow*/
@media only screen and (max-width: 1210px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header h1 {
    min-width: 100%;
    max-width: 100%;
    text-align: center;
    margin: 0px;
    font-size: 8rem;
  }
  h1 {
    padding: 5px 10px;
  }
  nav {
    padding-right: 0px;
    margin-right: 0px;
  }
  footer li {
    font-size: 18px;
  }
  /* Reduce the size of Big Layout so it doens't get to tall */
  #big-layout {
    min-height: 400px;
    min-width: 90%;
  }
  nav ul {
    padding: 0px;
  }

  .section-layout section {
    width: 100%;
    padding: 0px 0px;
  }
  .section-layout {
    flex-direction: column;
    justify-content: center;
  }
  .sub-projects figure {
    min-width: 80%;
  }
  .section-layout h2 {
    max-width: 100%;
    margin: 15px 0px;
    border-right: 0px;
    border-bottom: 5px solid var(--accentColor);
    text-align: start;
    padding-right: 0px;
  }
  .banner h3 {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, -50%);
    padding: 10px;
    background-color: var(--accentColorLight);
    transition: all 0.5s;
    font-size: 24px;
    color: var(--darkBackgroundColor);
  }
  .section-projects a {
    min-width: 40%;
    min-height: 125px;
    max-height: 125px;
  }
}

@media only screen and (max-width: 900px) {
  :root {
    font-size: 8px;
  }
  .section-projects a {
    border: 5px solid var(--accentColorLight);
  }
}

/* Small Screens */
/* Stack Projects to give them better readability */
@media only screen and (max-width: 770px) {
  footer ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .section-projects a {
    min-width: 90%;
  }
  /* Scale Big Layout to look the same as the section-projects a */
  #big-layout {
    min-height: 125px;
    min-width: 90%;
  }
}

/* Extra Small Screens */
/* Adjust elements to give extra room for elements that need Read*/
@media only screen and (max-width: 570px) {
  :root {
    font-size: 6px;
  }

  header h1 {
    font-size: 6rem;
  }
  nav a {
    font-size: 2rem;
    padding: 1px;
    border-bottom: 2px solid var(--accentColorLight);
  }

  footer a {
    border-bottom: 2px solid var(--accentColor);
  }

  .section-layout {
    margin-left: 20px;
    margin-right: 20px;
  }

  .banner {
    height: 150px;
  }
  .banner h3 {
    margin: 0;
    font-size: 2rem;
  }
}
