:root {
  --accentColor: #445876;
  --accentColorLight: #92cbcd;
  --darkBackgroundColor: #101010;
  --lightBackgroundColor: #ededf6;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--lightBackgroundColor);
  font-family: "Roboto", sans-serif;
}
/*===== Header and Navigation =====*/
header {
  color: var(--lightBackgroundColor);
  background-color: var(--darkBackgroundColor);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
h1 {
  padding: 5px;
  padding-left: 75px;
  font-size: 48px;
  background-color: var(--accentColorLight);
  transition: all 0.5s;
  color: var(--darkBackgroundColor);
}

nav {
  padding-right: 50px;
  margin-right: 50px;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  position: relative;
  display: inline-block;
  margin: 5px;
  border-bottom: 5px solid var(--accentColorLight);
}

nav a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  flex-direction: column-reverse;
  align-items: center;
  color: var(--accentColorLight);
  padding: 10px;
  font-size: 24px;
}
nav li::before {
  position: absolute;
  content: "";
  background-color: var(--accentColorLight);
  bottom: 0;
  left: 0;
  right: 0;
  height: 0%;
  width: 100%;
  transition: all 0.5s;
}
nav li:hover::before {
  height: 100%;
}
nav a:hover {
  color: var(--darkBackgroundColor);
}

/*===== Banner =====*/
.banner {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  height: 200px;
  width: 100%;
  background-image: url("../images/Banner.png");
  background-size: cover;
  box-shadow: inset 0px 10px 10px var(--darkBackgroundColor);
}

.banner h3 {
  position: absolute;
  bottom: 0;
  right: 100px;
  padding: 10px;
  background-color: var(--accentColorLight);
  transition: all 0.5s;
  font-size: 36px;
  color: var(--darkBackgroundColor);
}

/*===== Sections =====*/
main p {
  font-size: 20px;
  line-height: 200%;
  margin: 0;
  margin-bottom: 20px;
}
.section-layout {
  display: flex;
  margin-bottom: 40px;
  margin-left: 50px;
  margin-right: 50px;
}

.section-layout h2 {
  min-width: 200px;
  max-width: 200px;
  margin: 0px;
  border-right: 5px solid var(--accentColor);
  color: var(--accentColor);
  text-align: end;
  padding-right: 10px;
  font-size: 48px;
}
.section-layout p {
  color: var(--accentColor);
  line-height: 150%;
}

.section-layout section {
  padding: 0px 50px;
  width: 100%;
}

/*===== Projects =====*/
main figure {
  border: 5px solid var(--accentColorLight);
  margin: 0px;
}
/* Main Project */
.main-project {
  background-image: url("../images/Main-Project.jpg");
  position: relative;
  background-repeat: no-repeat;
  min-height: 600px;
  background-position: center;
  background-size: cover;
}
.project-caption {
  position: absolute;
  bottom: 10px;
  left: 0;
  padding: 10px;
  padding-left: 10px;
  background-color: var(--accentColorLight);
  transition: all 0.5s;
  color: var(--darkBackgroundColor);
}
.project-caption h3 {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.project-caption h4 {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  font-size: 10px;
  color: #355157;
}
/* Sub Project */
.sub-projects {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px 10px;
}

.sub-projects figure {
  position: relative;
  background-repeat: no-repeat;
  min-width: 40%;
  min-height: 200px;
  flex-grow: 1;
  background-position: center;
  background-size: cover;
}

#project-1 {
  background-image: url("../images/Sub-Project-1.jpg");
}
#project-2 {
  background-image: url("../images/Sub-Project-2.jpg");
}
#project-3 {
  background-image: url("../images/Sub-Project-3.jpg");
}
#project-4 {
  background-image: url("../images/Sub-Project-4.jpg");
}

/*===== Footer =====*/
footer ul {
  margin: 0px;
  padding: 0px;
  width: 100%;
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
footer ul li a {
  text-decoration: none;
  color: var(--darkBackgroundColor);
  padding: 0px;
  font-size: 24px;
  z-index: 2;
}

footer li {
  position: relative;
  display: inline-block;
  padding: 10px;
  border-bottom: 5px solid var(--accentColor);
  font-size: 24px;
}
footer li::before {
  position: absolute;
  content: "";
  background-color: var(--accentColor);
  bottom: 0;
  left: 0;
  right: 0;
  height: 0%;
  width: 100%;
  transition: all 0.5s;
  z-index: -1;
}
footer li:hover::before {
  height: 100%;
}

@media only screen and (max-width: 1280px) {
  body {
    background-color: pink;
  }
  /*Move Nagigation*/
}

@media only screen and (max-width: 1024px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    padding: 5px 10px;
  }
  nav {
    padding-right: 0px;
    margin-right: 0px;
  }
  body {
    background-color: purple;
    width: 100%;
  }
  .section-layout section {
    width: 100%;
    padding: 0px 0px;
  }
  .sub-projects figure {
    min-width: 80%;
  }

  .section-layout {
    flex-direction: column;
    justify-content: center;
  }

  .sub-projects figure {
    min-width: 80%;
  }

  .section-layout h2 {
    max-width: 100%;
    margin: 15px 0px;
    border-right: 0px;
    border-bottom: 5px solid var(--accentColor);
    text-align: center;
    padding-right: 0px;
  }

  .banner h3 {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, -50%);
    padding: 10px;
    background-color: var(--accentColorLight);
    transition: all 0.5s;
    font-size: 24px;
    color: var(--darkBackgroundColor);
  }

  footer li {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  body {
    background-color: blueviolet;
  }
  footer li {
    font-size: 12px;
  }
}
