:root {
  --accentColor: #008f8c;
  --accentColorLight: #0caba8;
  --darkBackgroundColor: #101010;
  --lightBackgroundColor: #ededf6;
}

/*===== Header and Navigation =====*/
header {
  color: var(--lightBackgroundColor);
  background-color: var(--darkBackgroundColor);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
h1 {
  padding: 10px;
  padding-left: 100px;
  background-color: var(--accentColor);
  transition: all 0.5s;
  color: var(--darkBackgroundColor);
}
h1:hover {
  background-color: var(--accentColorLight);
}

nav {
  padding-right: 50px;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}

nav a {
  display: flex;
  text-decoration: none;
  flex-direction: column-reverse;
  align-items: center;
  color: var(--accentColor);
  transition: all 0.5s;
  padding: 10px;
  font-size: 24px;
}
nav a:hover {
  color: var(--accentColorLight);
  position: relative;
  bottom: 4px;
}
nav ul li a {
  position: relative;
}

nav ul li a::after {
  position: absolute;
  content: ".";
  color: transparent;
  background-color: var(--accentColor);
  height: 1px;
  width: 0%;
  transition: all 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}
